<section class="container">
    <h1 class="my-2 text-center text-main">Forgot Password :</h1>
     
   @if (step == 1) {
    <form [formGroup]="verfiEmail" class="bg-main-light rounded-3 shadow p-4 " (ngSubmit)="step1()">
        <div>
            <label for="email">Email</label>
            <input formControlName="email"  type="email"  id="email" class="form-control">
            @if (verfiEmail.get('email')?.errors && verfiEmail.get('email')?.touched) {
                <div class="alert alert-danger mt-2">
                    @if (verfiEmail.get('email')?.getError('required')) {
                        <p class="m-0">Email Is Required</p>
                    }
                    @else if (verfiEmail.get('email')?.getError('email')) {
                        <p class="m-0">Email not Valid</p>
                        <p class="m-0">example&#64;xxxx.com</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="verfiEmail.invalid || isloading" class="btn-main my-3">
            @if (isloading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
            Verify Email</button>
    </form>

   }

   @else if (step == 2) {
    <form [formGroup]="verfiCode" class="bg-main-light rounded-3 shadow p-4" (ngSubmit)="step2()">
        <div>
            <label for="resetCode">resetCode</label>
            <input formControlName="resetCode"  type="text"  id="resetCode" class="form-control">
            @if (verfiCode.get('resetCode')?.errors && verfiCode.get('resetCode')?.touched) {
                <div class="alert alert-danger mt-2">
                    @if (verfiCode.get('resetCode')?.getError('required')) {
                        <p class="m-0">resetCode Is Required</p>
                    }
                    @else if (verfiCode.get('resetCode')?.getError('pattern')) {
                        <p class="m-0">resetCode not Valid</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="verfiCode.invalid || isloading" class="btn-main my-3">
            Verify Code
            @if (isloading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
        </button>
    </form>

   }


   @else if (step == 3) {
    <form [formGroup]="resetPassword" class="bg-main-light rounded-3 shadow p-4" (ngSubmit)="step3()"> 
        <div>
            <label for="email">Email</label>
            <input formControlName="email"  type="email"  id="email" class="form-control">
            @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
                <div class="alert alert-danger mt-2">
                    @if (resetPassword.get('email')?.getError('required')) {
                        <p class="m-0">Email Is Required</p>
                    }
                    @else if (resetPassword.get('email')?.getError('email')) {
                        <p class="m-0">Email not Valid</p>
                        <p class="m-0">example&#64;xxxx.com</p>
                    }
                </div>
            }
        </div>
        <div class="py-5">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword"  type="password"  id="newPassword" class="form-control">
            @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
                <div class="alert alert-danger mt-2">
                    @if (resetPassword.get('newPassword')?.getError('required')) {
                        <p class="m-0">newPassword Is Required</p>
                    }
                    @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                        <p class="m-0">newPassword not Valid</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="resetPassword.invalid || isloading" class="btn-main my-3">
            @if (isloading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
            Verify new Password</button>
    </form>
   }






</section>