<nav class="navbar navbar-expand-lg bg-body-yello">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home" routerLinkActive="router-link-active" >
        <img src="../../../assets/images/Ecommerce22.png" class="x" alt="ecommerce">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-bolder " routerLink="home" routerLinkActive="active-link" >{{"navbar.home"|translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="product" routerLinkActive="active-link" >{{ "navbar.product"|translate }} </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="categories" routerLinkActive="active-link" >{{ "navbar.categories"|translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="brands" routerLinkActive="active-link" >{{"navbar.brands" |translate}}</a>
        </ul>




        <ul class="navbar-nav ">
          <!-- <li class="nav-item  position-relative ps-1 ">
            <a class="nav-link " routerLinkActive="active-link" routerLink="wish list" >
              <i class="fa-regular fa-heart fa-xl "></i>
           <span class="badge top-0   bg-info position-absolute ">{{wishNavNumber()}}</span>
        
            </a>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"navbar.lang"|translate}}
            </a>
            <ul class="dropdown-menu">
              <li [class.bg-danger]="_TranslateService.currentLang == 'en' " (click)="change('en')" > <a class="dropdown-item cr" >EN</a> </li>
              <li [class.bg-danger]="_TranslateService.currentLang == 'ar' " (click)="change('ar')" > <a class="dropdown-item cr" >AR</a> </li>
            </ul>

          <li class="nav-item">
            <a class="nav-link fw-bolder position-relative" routerLink="cart" routerLinkActive="active-link" >
              <i class="fa-solid fa-cart-shopping fa-xl"></i>
              <span class="badge bg-danger position-absolute top-0 start-0" > {{countNumber}} </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
                <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
                <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
                <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
                <i class="fa-brands fa-instagram"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link cr link-offset-1-hover " routerLink="/login" (click)="_AuthService.logOut()">
                LogOut <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>