<section class="bg-main-light rounded-4 p-2 my-2 w-75 mx-auto">
    <h1 class="text-center" >ShippingAddress</h1>
    <form [formGroup]="orders" (ngSubmit)="orderSubmit()">
        <div class="my-1">
            <label for="details">Details</label>
            <textarea formControlName="details" class="form-control" id="details"></textarea>
        </div>
        <div class="my-1">
            <label for="phone">Phone</label>
            <input 
            
            [ngClass]="{
                'is-valid': !orders.get('phone')?.errors && orders.get('phone')?.touched,
                'is-invalid': orders.get('phone')?.errors && orders.get('phone')?.touched
            }"
            
            type="tel" formControlName="phone" class="form-control">
            @if (orders.get('phone')?.errors && orders.get('phone')?.touched) {
                <div class="alert alert-danger w-100 mt-2">
                    @if (orders.get('phone')?.errors?.['required']) {
                        <p class=" m-0">phone is required </p>

                    }
                    @else if (orders.get('phone')?.errors?.['pattern']) {
                        <p class=" m-0"> Enter valid phone </p>

                    }
    
                </div>
            }
        </div>
        <div class="my-1">
            <label for="city">city</label>
            <input  formControlName="city" id="city" class="form-control" type="text">
        </div>
        <button class="btn-main" type="submit">Check Out</button>
    </form>
</section>
