<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="login" routerLinkActive="router-link-active" >
        <img src="../../../assets/images/Ecommerce22.png" class="x" alt="ecommerce">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"  >
              <i class="fa-brands fa-facebook fa-lg" style="color: #0a81db;"></i>  
           </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
              <i class="fa-brands fa-square-x-twitter fa-lg" style="color: #000000;"></i>    
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
              <i class="fa-brands fa-linkedin fa-lg" style="color: #006ec2;"></i>     
             </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >
                <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  cr fw-bolder " routerLink="login" routerLinkActive="active-link" >
              <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cr fw-bolder" routerLink="register" routerLinkActive="active-link" >
                register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>